<div class="row">

    <div class="col-6">
      <div class="card">
        <div class="card-body">
            <div>
              <h4>{{graficos.grafico1.leyenda}}</h4>
                <div>
                <app-graficaDona
                  [doughnutChartLabels]= "graficos.grafico1.labels"
                  [doughnutChartData]= "graficos.grafico1.data"
                  doughnutChartType= "doughnut">
                </app-graficaDona>
                </div>
              </div>
        </div>
      </div>
    </div>

    <div class="col-6">
        <div class="card">
          <div class="card-body">
              <div>
              <h4>{{graficos.grafico2.leyenda}}</h4>
                  <div>
                    <app-graficaDona
                      [doughnutChartLabels]= "graficos.grafico2.labels"
                      [doughnutChartData]= "graficos.grafico2.data"
                      doughnutChartType= "doughnut">
                    </app-graficaDona>
                  </div>
                </div>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
            <div>
              <h4>{{graficos.grafico3.leyenda}}</h4>
                <div>
                  <app-graficaDona
                      [doughnutChartLabels]= "graficos.grafico3.labels"
                      [doughnutChartData]= "graficos.grafico3.data"
                      doughnutChartType= "doughnut">
                  </app-graficaDona>
                </div>
              </div>
        </div>
      </div>
    </div>

    <div class="col-6">
        <div class="card">
          <div class="card-body">
              <div>
              <h4>{{graficos.grafico4.leyenda}}</h4>
                  <div>

                    <app-graficaDona
                        [doughnutChartLabels]= "graficos.grafico4.labels"
                        [doughnutChartData]= "graficos.grafico4.data"
                        doughnutChartType= "doughnut">
                    </app-graficaDona>
            
                      <!-- <div style="display: block">
                        <canvas baseChart
                          [data]="doughnutChartData"
                          [labels]="doughnutChartLabels"
                          [chartType]="doughnutChartType">
                        </canvas>
                      </div> Esto se realizo la copia de este codigo en graficadona.html-->
                  </div>
                </div>
          </div>
        </div>
      </div>
  </div>







